$bgColor: rgb(8, 68, 26);
$txtColor: white;
$errorColor:red;

html,body{
    margin:0px;
    height: 100%;
}

header{
    color:rgb(240, 204, 0);
    background-color: $bgColor;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

.contenido{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: 95%;

    .metodo {
        display: flex;
        flex-flow: column nowrap;
        margin-top: 10%;

        button{
            border-color: $bgColor;
            margin: 10px;
            background-color: lighten($bgColor, 60%);
            color:$bgColor;
            font-weight: bold;
        }
        button:hover{
            background-color: lighten($bgColor, 50%);
        }
        button:active{
            background-color: $bgColor;
            color: $txtColor;
        }

    }
    #menu{
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-end;
        justify-content: space-between;
        width: 78%;
        color:$bgColor;

        p:hover {
            cursor: pointer;
            font-weight: bold;
        }
        .buscador{
            display: flex;

            img {
                padding: 2px;
                border: solid 1px $bgColor;
                padding: 5px;
            }
            img:hover{
                cursor: pointer;
                background-color: rgba(0, 0, 0, 0.274);
            }
            
        }
        
    }
    .tiendas {
        display: flex;
        flex-flow: column nowrap;
        width: 80%;

        #tienda {
            border: solid 1px $bgColor;
            border-radius: 10px 10px;
            box-shadow: 2px 2px 5px lighten($bgColor, 60%);
            padding: 10px;
            margin: 10px;

            h2 {
                color: $bgColor;
            }
        }
    }
}

#carga{
    display: none;
    width: 40px;
    animation-name: girar;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-duration: 1.5s;
    animation-timing-function: linear;

}
@keyframes girar {
    from {
        transform: rotate(-360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

#error{
    color: $errorColor;
}