html, body {
  margin: 0px;
  height: 100%; }

header {
  color: #f0cc00;
  background-color: #08441a;
  text-align: center;
  padding: 10px;
  font-weight: bold; }

.contenido {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: 95%; }

.tiendas {
  display: flex;
  flex-flow: column nowrap;
  width: 80%; }

#tienda {
  border: solid 1px #08441a;
  border-radius: 10px 10px;
  box-shadow: 2px 2px 5px #8cf2ab;
  padding: 10px;
  margin: 10px; }
  #tienda h2 {
    color: #08441a; }

.metodo {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 10%; }

#carga {
  display: none;
  width: 40px; }

#error {
  color: red; }
